<footer class="footer">
	<small>
		<a href="http://www.dupa.pl">Rails Tutorial</a> by A.A
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
			<li><a href="http://www.dupa.pl">News</a></li>
		</ul> 
	</nav>
</footer>